@model Hsf.EF.Model.hsf_owner
@{
    ViewBag.Title = "添加业主信息";
    //List<SelectListItem> CategoryList = ViewBag.categoryList as List<SelectListItem>;
    //Id, telphone, password, chinaname, building, unit, floor, room
}
<h2>添加业主信息</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.telphone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telphone)
                @Html.ValidationMessageFor(model => model.telphone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.chinaname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chinaname)
                @Html.ValidationMessageFor(model => model.chinaname)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.building, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.building)
                @Html.ValidationMessageFor(model => model.building)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.unit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.unit)
                @Html.ValidationMessageFor(model => model.unit)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.floor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.floor)
                @Html.ValidationMessageFor(model => model.floor)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.room, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.room)
                @Html.ValidationMessageFor(model => model.room)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.Submit("Submit")
                @Html.ValidationMessage("unableToSave")
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("返回", "Index")
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var i = 0;
            $("form").submit(function () {
                i++;
                $.ajax({
                    url: '/System/Owner/AjaxCreate',
                    type: 'post',
                    dataType: 'json',
                    data: $("form").serializeArray(),
                    success: function (data) {
                        if (data.Result == 1) {
                            alert("添加成功");
                        }
                        else if (data.Result == 2) {
                            alert("登陆超时,请重新登陆");
                            location.href = "/home/login";
                        }
                        else {
                            alert(data.PromptMsg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                return false;//避免又ajax提交 又表单提交
            }
            );
        });
    </script>
}